extends ./layout/index

block slider
    .slider 
        h1 Río de Janeiro 
        em Aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Fusce mauris odio, porta nec mauris in, aliquam venenatis eros. Duis suscipit justo in massa aliquam, in consectetur ex gravida. Phasellus vulputate, justo vel posuere aliquet, lectus orci molestie nisl, ac efficitur eros nisi eu quam.
                
                p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus tincidunt vitae nibh non feugiat.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        include ./layout/bloqueViajes

    .descuento
        .container 
            .row 
                .col-md-6 
                    .contenido
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD

    .container.mt-3
        include ./layout/bloqueTestimoniales
