extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non dictum quam. Quisque et urna blandit velit feugiat gravida et sed ipsum. Aenean ullamcorper finibus eros, non porttitor urna suscipit in. Aliquam finibus tellus id lacus tincidunt accumsan id sed ipsum. Nullam id sapien in purus mollis dapibus. Cras venenatis ante in leo rhoncus, ut pharetra augue tempor. Pellentesque tempus, est eget volutpat pellentesque, metus odio auctor ligula, quis mollis risus enim eget quam. Sed fringilla at arcu at sodales. Phasellus ligula risus, aliquet et erat in, tincidunt facilisis nunc. Vivamus in eros eu sapien tincidunt convallis.

                p Duis ultricies iaculis interdum. Quisque ac sodales quam. Pellentesque tincidunt finibus ultrices. Donec pharetra sagittis sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed vel turpis nec nunc egestas molestie ut sit amet elit. Morbi mi lacus, mattis non varius et, sodales et mi. Nunc quis convallis felis.

                p Nulla venenatis aliquet mollis. Morbi vel justo at enim ullamcorper placerat. Integer laoreet non elit sit amet dictum. Phasellus varius accumsan turpis. Cras auctor diam at condimentum gravida. Curabitur interdum maximus sapien eget iaculis. Morbi luctus iaculis erat ac finibus. Phasellus eget mauris in turpis ultrices feugiat sed at tellus. Vivamus pulvinar in sem vulputate ultrices. 
    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Nulla venenatis aliquet mollis. Morbi vel justo at enim ullamcorper placerat. Integer laoreet non elit sit amet dictum. Phasellus varius accumsan turpis.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Nulla venenatis aliquet mollis. Morbi vel justo at enim ullamcorper placerat. Integer laoreet non elit sit amet dictum. Phasellus varius accumsan turpis.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Nulla venenatis aliquet mollis. Morbi vel justo at enim ullamcorper placerat. Integer laoreet non elit sit amet dictum. Phasellus varius accumsan turpis.
    